---
---
// DO NOT REMOVE LINES ABOVE! GRRRRRRRR!

$green: #2ecc71;
$blue: #3498db;
$dark: #2c3e50;
$clouds: #ecf0f1;
$asbestos: #7f8c8d;
$white: #fff;
$purple: #8e44ad;
$whitesmoke: #f6f8f9;
$midnight: #2c3e50;

$radius: .125rem;

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background: $clouds linear-gradient(135deg, $whitesmoke 0%, $clouds 100%);
  background-repeat: no-repeat;
  color: $dark;
  font-family: 'Avenir', 'HelveticaNeue', sans-serif;
  font-size: 1.125rem;
  margin: 0;
}

img {
  max-width: 100%;
}

a,
a:link,
a:visited {
  color: $blue;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

main,
.projects {
  padding: 1.25rem;
}

.content {
  margin: 0 auto;
  max-width: 35rem;
  padding: 1rem;
}

.introduction {
  padding: 2rem 0;

  .leotartari {
    border-radius: $radius;
    max-width: 5rem;
    float: left;
    margin-right: 1.25rem;
  }

  p {
    margin: 0 0 1rem 6.25rem;
    max-width: 45rem;
  }
}

.projects {
  background: $midnight;
  color: $white;
  padding: 3rem 0;
  text-align: center;

  h3 {
    font-size: .75rem;
    opacity: .54;
    margin: 0;
  }
}

.project {
  padding-bottom: 6rem;

  &:last-child {
    padding-bottom: 0;
  }

  &-content {
    padding-left: 1rem;
  }

  h2,
  p {
    margin: 0;
  }

  h2 {
    font-size: 1rem;
  }

  p {
    font-size: .875rem;
  }
}
