---
layout: default
title: 'Leo Tartari · Designer'
description: 'Freelance designer'
---
<main>
  <section class="introduction content">
    <img class="leotartari" src="/img/leotartari.png">
    {% for paragraph in site.data.introduction %}
      <p>{{paragraph}}</p>
    {% endfor %}
  </section>

  <section class="work-experience content">
    <h1>Work Experience</h1>
    {% for job in site.data.jobs %}
      <h2><b>{{job.title}}</b> <small>{{job.period}}</small></h2>
      <p>{{job.description}}</p>
    {% endfor %}
  </section>
</main>

<aside>
  <section class="skills content">
    <h1>Relevant skills</h1>
    <ul>
      {% for skill in site.data.skills %}
        <li>{{skill}}</li>
      {% endfor %}
    </ul>
  </section>
</aside>
