---
layout: default
title: 'Leo Tartari · Designer'
description: 'Designer'
---
<main>
  <section class="introduction content">
    <img class="leotartari" src="/img/leotartari.png">
    {% for paragraph in site.data.introduction %}
      <p>{{paragraph}}</p>
    {% endfor %}
    <p>
      {% for social in site.data.social %}
        <small><a href="{{social.url}}" target="_blank">{{social.title}}</a></small>
      {% endfor %}
    </p>
  </section>
  <footer>{% svg /img/sigil.svg %}</footer>
</main>
